@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Play:400,700);
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
/*========================================================
                    Main layout styles
=========================================================*/
body {
	font: 14px "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.428571429;
	width: 100%;
	margin: 0 auto;
}
/*========================================================
                    全体
=========================================================*/
#div_title {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: #c2d9f7;
}
.h_title {
  width: 45%;
  margin: 0 auto;
  float: left;
  text-align: left;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 15px;
}
.h_name {
  width: 50%;
  margin: 0 auto;
  float: right;
  text-align: right;
  font-size: 16px;
  padding-right: 15px;
  padding-top: 10px;
}

#entirety {
  width: 100%;
  height: auto;
	margin: 0 auto;
}
/*========================================================
                    visualization
=========================================================*/
#display {
  width: 80%;
  float: left;
	margin: 0 auto;
}

/*========================================================
                    Functions
=========================================================*/
#controller {
  width:18.6%;
  height: auto;
  float:right;
	margin: 0 auto;
  text-align:center;
}
#div_isovalue {
  width: 100%;
  height: 80px;
	margin: 0 auto;
  padding-top: 15px;
  border: 1px solid #000;
  background: #eff4ad;
}
#div_changeColor {
  width: 100%;
  height: 90px;
	margin: 0 auto;
  border: 1px solid #000;
  text-align: center;
  background: #f7c2d9;
}
#div_shader {
  width: 100%;
  height: 60px;
	margin: 0 auto;
  border: 1px solid #000;
  background: #c2c7f7;
  padding: 15px 10px 15px 10px;
}
#div_ResetBtn {
  width: 100%;
  height: 60px;
	margin: 0 auto;
  border: 1px solid #000;
  background: #c7f7c2;
  padding: 15px 10px 15px 10px;
}
#Reset_Btn {
  width: 80px;
  font-size: 16px;
}
